*{    
    margin: 0;  
    padding: 0;
    
   }

@font-face{
font-family: Romvel_Cyr;
src:url(../Tipografia/Romvel_Cyr.ttf)
}

body{
    background-color: rgb(0, 0, 0)
    
}

header{   
   background-color: grey;
   display: flex;
   justify-content: space-between;
   align-items: center;
   color: white;
   height: 70px;
   margin-top: 30px;
   padding-left: 30px;
   padding-right: 30px;

   
}


ul{ 
   display: flex;
   flex-direction: row;
   gap: 20px;
   list-style-type: none;
}

li{  
   background-color: black;
   text-align: center;  
   padding: 10px;
  
}

main{
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 60px 0px;
    
}

 .centro{   
    width: 50vh;
    display:flex;
    justify-content: center;
    align-items: center; 
 }

 .lanzamiento{ 
   display: flex;
   position: relative;
   right: 250px;
   bottom: 400px;
   text-align: center;
 }

 .dribling{ 
   display: flex;
   position: relative;
   top: -380px;
   left: 280px;
   text-align: center;
   
 }

 .pase{ 
   display: flex;
   position: relative;
   bottom: 400px;
   right: 270px;
   text-align: center;
   
 }

 .defensa{ 
   display: flex;
   position:relative;
   bottom: 1000px;
   left: 200px;
   text-align: center;
   
 }

 .personalizada{ 
   display: flex;
   position:relative;
   bottom: 680px;
   left: 120px;
   text-align: center;
   
 }

 p{
   color: white;
   font-family: Romvel_Cyr;
   padding-bottom: 5px;
}

a{
   color: white;
   text-decoration: none;
}

 .botones{  
    width: 150px;
 }

 .pizarra{
   width: 200px;
 }

.centro{  
   transition: transform 1s;
}

.centro:hover{  
   transform: scaleX(0.9);
}

div{  
   transform:translate(.5s);
}

div:hover{  
   transform: translate(10px,10px);
   scale: 1.05;
}

div:active{ 
   scale: 0.85;
}

a{  
   transform:translate(.5s);
}

a:hover{  
   transform: translate(1px,1px);
   scale: 1.2;
   font-size: 120%;
   font-weight: bolder;
}

a:active{ 
   scale: 0.95;
   font-size: 12px;
   
}