*{    
    margin: 0;  
    padding: 0;
    
}

body{
    background-color: black;
}

@font-face{
    font-family: Romvel_Cyr;
    src:url(../Tipografia/Romvel_Cyr.ttf)
}

main{ 
    display: flex;
    flex-direction: column;
    justify-content: center;  
}

section{
    display: flex;
    grid-template-columns:repeat(2, 60vh);
    justify-content: center;
    align-items: center;
}


h1{ 
    color:rgb(212, 26, 26);
    text-decoration: underline yellow;
    text-align: center;
    font-size: 42px;
}

p{
    color: rgb(255, 255, 255);
    font-size: 23px;
    margin: 40px 20px;
    text-align:justify; 
}

img{    
    height: 90vh;
    min-height: 500px;
    }


a{   
    font-family: Romvel_Cyr;
    text-decoration: none;
    font-size: 5vw; 
    min-: 500px;
    color:white;
    display:flex; 
    justify-content:center;
    }

.descripcion{    
    width: 50vh;
    min-width: 300px;
    height: 70vh;
    min-height: 500px;
    display: flex;
    flex-direction: column;
    border-style:double;
    border-color: white;
    justify-content: center; 
} 

a{  
    transform:translate(0s);
 }
 
 a:hover{  
    transform: translate(10px,10px);
    scale: 1.05;
       
 }

 a:active{  
    scale: 0.85;
       
 }